.wrapper-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    padding: .5rem;
    border: solid 2px #ff47da;
}

.wrapper-form .form-field {
    padding: .5rem;
    display: flex;
    border: solid 2px transparent;
    flex-direction: column;
}

.wrapper-form .form-field input {
    border: solid 2px var(--color-2);
    padding: .25rem .5rem;
    font-size: 1.5rem;
    border-radius: var(--border-radius);
}

.wrapper-form .form-field:hover {
    border: solid 2px #00c49a;
}

.wrapper-form .form-field .btn-submit {
    background-color: teal;
    color: white;
    border: 0;
    padding: .5rem;
    border-radius: var(--border-radius);
}